@charset "UTF-8";
@font-face {
    font-family: "Money";
    src: url("Money money money.ttf") format("truetype"); 
}
@font-face {
    font-family: "Money Plus";
    src: url("Money money plus.ttf") format("truetype");
}
body {
    background-image: linear-gradient(to left, #f3f2ee,  #ececec);
    width: 100vw;
}

header {
    width: 90vw;
}

h1 { 
font-family: "Money Plus";
text-align: center;
font-size: 5em;
font-weight: 100;
text-shadow: 1px 1px 1px rgb(12, 10, 10);
margin-bottom: 1px;

}




section {
    display: flex;
    width: 90vw;
    margin: 150px;
    margin-top: 1px;
    margin-bottom: 1px;
    

}

div {


width: 375px;
height: 466px;
text-align: center;
border-radius: 10px;
}

table {

background-color: #594B02;
width: 375px;
height: 375px;
border: 1px solid whitesmoke;
font-size: 30px;
color: #ffdb00;
border-radius: 10px;
box-shadow: 3px 3px 3px rgb(14, 13, 13);
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button { 
    background-image: radial-gradient(#ffe749,#f5d01b);
    font-family: "Money";
    text-align: center;
    font-size: 9.5em;
    font-weight: 100;
    text-shadow: 1px 1px 1px rgb(12, 10, 10);
    height: 185px;
    width: 185px;
    border-radius: 150px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    margin-left: 10px;
    

    }

td {
    border: 1px solid whitesmoke;
    border-radius: 10px;
}

a {
    font-family: Money;
    text-decoration: none;
    color: #594B02;
    font-size: 20em;
}

@media (max-width: 768px) {
   

    section  {
        display: block;
        height: 1300;
        margin: auto;   
    }

    .comercial {
        display: block;
        height: 1300;
        margin: auto;

    }

    .titulo {
        width: 100vw; 
        font-size: 3em;
        width: auto;
    }

    a {
        font-size: 5em;
        margin: auto;
    }

    .h1comercial {
        width: 100vw; 
        font-size: 3em;
        width: auto;
    }
    .button {
    margin-top: 10px;
    margin-left: 90px;
    margin-right: 90px;
    
    }

    div {
        margin-bottom: 10px;
        margin-top: 10px;
        width: 100vw;
    }
    header h1 {
        width: 100vw; 
        font-size: 3em;
        width: auto;
    }
    
    p {
        width: auto;
    }

    .descont {
        font-size: 20px;
    }
    

}

@media (min-width: 1256px) {

   section {
        display: flex;
        margin: 250px;
        margin-top: 1px;
        margin-bottom: 1px;
        
    
    }
}

tr :hover {
    background: rgb(18, 19, 18);
    color: rgb(247, 231, 8);
}
