@charset "UTF-8";
@font-face {
    font-family: "Money";
    src: url("Money money money.ttf") format("truetype"); 
}
@font-face {
    font-family: "Money Plus";
    src: url("Money money plus.ttf") format("truetype");
}
body {
    background-image: linear-gradient(to left, #f3f2ee,  #ececec);
    
}

header {
    
}

h1 { 
font-family: "Money Plus";
text-align: center;
font-size: 5em;
font-weight: 100;
text-shadow: 1px 1px 1px rgb(12, 10, 10);
margin-bottom: 0px;

}




section {
    margin: auto;
    margin-top: 1px;
    margin-bottom: 1px;
    

}

table {

background-color: #594B02;
border-collapse: collapse;
width: 375px;
height: 375px;
border: 1px solid whitesmoke;
font-size: 30px;
color: #ffdb00;
border-radius: 10px;
box-shadow: 3px 3px 3px rgb(14, 13, 13);
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

thead{
    border: 1px solid white;
    font-weight: bold;
    background-image: linear-gradient(45deg, #594a0246,#594a026b,#ffdb00,#594a026b,#594a026b);
    
}

th {
    color: white;
    font-weight: lighter;
}




.button { 
    background-image: radial-gradient(#ffe749,#f5d01b);
    font-family: "Money";
    text-align: center;
    font-size: 9.5em;
    font-weight: 100;
    text-shadow: 1px 1px 1px rgb(12, 10, 10);
    height: 185px;
    width: 185px;
    border-radius: 150px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    margin-left: 10px;
    

    }

td {
    border: 1px solid whitesmoke;
    border-radius: 10px;
}
p {
    margin: 0px;
}

a {
    font-family: Money;
    text-decoration: none;
    color: #594B02;
    font-size: 20em;
}

@media (max-width: 768px) {
   

    section  {
        display:flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    .comercial {
        display: block;
        height: 1300;
        margin: auto;

    }

    .titulo {
        width: 100vw; 
        font-size: 3em;
    }

    a {
        font-size: 5em;
    }

    .h1comercial {
        width: 100vw; 
        font-size: 3em;
        width: auto;
    }
    .button {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 45px;
    margin-right: 90px;
    text-shadow: 2px 2px 2px rgb(12, 10, 10);
    
    }

    header h1 {
        width: 100vw; 
        font-size: 3em;
        width: auto;
    }
    
    p {
        width: auto;
    }

    .desconto {
        font-size: 20px;
    }

    table {
        background-color: #594B02;
        width: 300px;
        height: 375px;
        border: 1px solid whitesmoke;
        font-size: 25px;
        color: #ffdb00;
        border-radius: 10px;
        box-shadow: 3px 3px 3px rgb(14, 13, 13);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}

@media (min-width: 770px) {

   section {
       width: 900px;
        display: flex;
        margin: auto;
    }
    
    table {
        margin: auto;
    }
}

tr :hover {
    background: rgb(18, 19, 18);
    color: rgb(247, 231, 8);
}

.blockPrice {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    padding: 3px;
    border-radius: 20px;
}

.refreshPrice {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    padding: 3px;
}

.refreshPrice:hover {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    padding: 3px;
}



.none {
    display: none;
}

.animeChange {
animation: anime 3s 2s linear forwards;
border-radius: 0px;
}

.animeChange2 {
    animation: anime 3s 2s linear forwards;
    border-radius: 0px;
    }

@keyframes anime {

0%{transform: rotateY(0deg) translateX(0px)}
100%{transform: rotatey(360deg) translateX(0px) }


}

.on{
    background: green;
}

.off{
    background: red;
}

@keyframes anime2 {

    0%{transform: rotateY(0deg) translateX(0px)}
    100%{transform: rotatey(360deg) translateX(0px) }
    
    
    }

